In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from pathlib import Path

In [4]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
PATH = Path('data')
list(PATH.iterdir())

[WindowsPath('data/sample_submission.csv'),
 WindowsPath('data/test.csv'),
 WindowsPath('data/test_supplement.csv'),
 WindowsPath('data/train.csv'),
 WindowsPath('data/train_sample.csv'),
 WindowsPath('data/train_sample.feather')]

# Preparation

In [5]:
df = pd.read_csv(PATH/ 'train_sample.csv')
df.shape
df.tail()

(100000, 8)

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
99995,124883,11,1,19,122,2017-11-09 13:25:41,NaN,0
99996,85150,9,1,13,244,2017-11-07 11:25:43,NaN,0
99997,18839,3,1,13,19,2017-11-08 11:38:42,NaN,0
99998,114276,15,1,12,245,2017-11-08 17:55:21,NaN,0
99999,119349,14,1,15,401,2017-11-07 14:32:27,NaN,0

In [11]:
dtypes = {
        'ip'            : 'uint32',
        'app'           : 'uint16',
        'device'        : 'uint16',
        'os'            : 'uint16',
        'channel'       : 'uint16',
        'is_attributed' : 'uint8',
        'click_id'      : 'uint32'
        }

In [35]:
%%time
total_rows= 184903980-90
n=1000000
cols = ['ip','app','device','os', 'channel', 'click_time', 'is_attributed']
train = pd.read_csv(PATH / "train.csv", 
                    skiprows=range(1,total_rows-n + 1), 
                    nrows=n, 
                    usecols=cols,
                    dtype=dtypes)

Wall time: 1min 2s

In [36]:
train.shape

(1000000, 7)

In [37]:
train.to_feather(PATH/'train_1mil.feather')